* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #e7e5e5;
}

.card {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .box {
  width: 300px;
}
.card .box .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

.card .box h1 {
  text-align: center;
  font-family: sans-serif;
}

.card .box .form {
  display: flex;
  flex-direction: column;
}

.card .box input {
  padding: 10px;
  border: 1px solid green;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;

  /* text-align: center; */
}

.card .box .btn {
  padding: 10px;
  border: 1px solid green;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: green;

  text-align: center;
  color: white;
  cursor: pointer;
}

.card .box .btn:hover {
  background-color: rgb(45, 151, 19);
}
